.app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header-container {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* height: 80%;
  width: 40%; */
  width: 100%;
  margin: auto;
}

.heading-text {
  /* border: 2px solid blue; */
  line-height: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  text-align: center;
}

.heading-text > h1 {
  letter-spacing: 10px;
  text-transform: uppercase;
  color: blue;
  font-weight: 700;
}

.heading-title {
  font-weight: 500;
}

.navbar-container {
  /* border: 2px solid yellow; */
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  line-height: 0;
}
.navbar {
  display: flex;
}

.navbar > ul {
  display: flex;
  list-style: none;
  width: 100%;
}
.tab-class {
  padding: 5px;
  margin: 10px;
  font-size: 1rem;
  font-weight: 600;
  list-style-type: none;
  color: rgb(198, 196, 196);
  text-align: center;
}
.active-tab {
  color: blue;
  border-bottom: 2px solid blue;
  margin-bottom: 4px;
}
.search-input {
  display: block;
  font-family: Roboto, sans-serif;
  width: 200px;
  margin: auto;
  outline: none;
  padding: 13px 15px;
  border: 1px solid rgb(219, 219, 219);
  box-shadow: rgba(219, 219, 219, 0.5) 0px 0px 10px 0px;
  font-size: 14px;
  border-radius: 12px;
  color: rgb(141, 141, 141);
}

.search-conatiner {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 13px;
  user-select: none;
  font-weight: 700;
  margin: 0px 15px;
}

.radio-container {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
  padding: 10px;
}

input:checked ~ span {
  background-color: rgb(255, 255, 255);
}

.search-button {
  color: rgb(36, 0, 255);
  background-color: rgb(250, 250, 250);
  margin: auto;
  padding: 10px 50px;
  font-size: 15px;
  outline: none;
  border-radius: 12px;
  border: 1px solid rgb(36, 0, 255);
  margin-top: 10px;
}

.search-button:hover {
  background-color: blue;
  color: white;
}

.loader {
  text-align: center;
  font-size: 20px;
  font-style: italic;
  margin-top: 40px;
}

.card-them {
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  width: 330px;
  height: 400px;
  padding-bottom: 10px;
}

.image-container {
  background-size: cover; /* Adjust the sizing as needed */
  background-position: center; /* Center the background image */
  width: 100%; /* Set the width and height as needed */
  height: 280px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.card-footer {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: space-between;
  /* background-color: aqua; */
  position: relative;
  bottom: 0%;
}

.star-button {
  border-radius: 20px;
  padding: 3px 7px;
  font-size: 18px;
  background-color: transparent;
  color: gray;
  border: 2px solid gray;
}

strong {
  margin-top: 10px;
  color: blue;
}
.summary {
  width: 80%;
  line-height: 1.5;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
}

.actor-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  width: 300px;
  height: 350px;
  margin-top: 20px;
}

[alt="Default"] {
  border-radius: 10%;
}

[alt="actor"] {
  border-radius: 10%;
  object-fit: cover;
}

.actor-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
}
